@model IEnumerable<webshop_projekt.Models.Kategorija>

@{
    ViewBag.Title = "Index";
}

<h2>Popis kategorija</h2>

<p>
    @Html.ActionLink("Dodaj novu kategoriju", "Create", null, new { @class = "btn btn-secondary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KategorijaName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KategorijaName)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new { id = item.KategorijaId }, new { @class = "btn btn-secondary" }) |
            @Html.ActionLink("Detalji", "Details", new { id = item.KategorijaId }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Izbriši", "Delete", new { id = item.KategorijaId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
