@model IEnumerable<webshop_projekt.Models.KosaricaItem>

@{
    ViewBag.Title = "Index";
}

<h2>Košarica</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
             @Html.DisplayNameFor(model => model.Kolicina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cijena)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kolicina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cijena)€
        </td>

        <td>
            @Html.ActionLink("Izbrisi", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}
@{decimal ukupno = 0.00m;}
@foreach(var item in Model) {ukupno += item.Cijena * item.Kolicina;}
    <tr>
        <td>Ukupno:</td>
        <td></td>
        <td>@ukupno€</td>
    </tr>
</table>
<div style="display:flex; flex-flow:row">
    <a href="@Url.Action("IspisRacuna", "KosaricaItems", new {Naziv = ViewBag.Naziv, Kolicina = ViewBag.Kolicina, Cijena = ViewBag.Cijena})" class="btn btn-primary">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>Preuzmi racun
    </a>
</div>
<div style="display:flex; flex-flow:row">
    <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>Natrag na kupnju
    </a>
</div>
